<!DOCTYPE HTML>
<html>
	<head>
		<title>Cafe website</title>
		<meta charset="utf-8" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header" class="alt">
						<span class="logo"><i class="fa-solid fa-mug-saucer fa-2xl"></i></span>
						<h1>Looking for popular cafes?</h1>
						<p>Have&nbsp; a look at the list down below<br>If&nbsp; you also know a good place, don't hesitate to add</p>
					</header>
													{%for msg in get_flashed_messages()%}
              <div class="alert alert-warning" role="alert">
          <ul>
            <li>{{msg}}</li>
          </ul>
        </div>
        {%endfor%}

				<!-- Nav -->
					<nav id="nav" class="">
						<ul><li><a href="#intro" class="active">List of places</a></li>&nbsp;&nbsp;<li><a href="{{url_for('add')}}" class="">Add a place</a></li></ul>
					</nav>


				<!-- Main -->
					<div id="main">

						<!-- Cafe list -->
						{%for i in all_cafes%}
							<section id="intro" class="main">
								<div class="spotlight">
									<div class="content">
										<header class="major">
											<h2>{{i.name}}</h2>
										</header>
										<p>{{i.location}}</p>
										<ul class="actions">
											<li><a href="{{url_for('page' ,name = i.name , location = i.location , map_url=i.map_url, image=i.img_url,cafe_id=i.id)}}" class="button">Learn More</a></li>
										</ul>
									</div>
									<span class="image"><img src="{{i.img_url}}" alt=""></span></div></section>
					{%endfor%}
					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>This is just a glimps of what I can create</h2>
							<p>If you want to see more of my works, visit my portfolio website.</p>
							<ul class="actions">
								<li><a href="generic.html" class="button">Learn More</a></li>
							</ul>
						</section>
						<section>
							<h2>Contact Me</h2><dl class="alt">
								<dt>Phone</dt>
								<dd>+989203522384</dd>
								<dt>Email</dt>
								<dd>Negartoorany283@gmail.com</dd>
							</dl>
							<ul class="icons">
								<li><a href="#" class="icon brands fa-twitter alt"><span class="label">Twitter</span></a></li>&nbsp;<li><a href="#" class="icon brands fa-instagram alt"><span class="label">Instagram</span></a></li>
								<li><a href="#" class="icon brands fa-github alt"><span class="label">GitHub</span></a></li></ul>
						</section>
						<p class="copyright">© Created by Negar</p>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="static/assets/js/jquery.min.js"></script>
			<script src="static/assets/js/jquery.scrollex.min.js"></script>
			<script src="static/assets/js/jquery.scrolly.min.js"></script>
			<script src="static/assets/js/browser.min.js"></script>
			<script src="static/assets/js/breakpoints.min.js"></script>
			<script src="static/assets/js/util.js"></script>
			<script src="static/assets/js/main.js"></script>
			<script src="https://kit.fontawesome.com/ad7f1ccdf7.js" crossorigin="anonymous"></script>

	
</body>
</html>